.project-link {
  text-decoration: none;
}

.project-card {
  overflow: hidden;
  border: 1px solid #dfdedb;
  border-radius: 0.625rem;
  text-align: center;
}

.project-card__upper {
  position: relative;
  height: 10rem;
}

.project-card__image {
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card__lower {
  flex-direction: column;
  padding: 1rem;
  background-color: white;
}

.project-card__title {
  margin: 0;
  font-size: 1.5rem;
  line-height: 0.73;
  color: black;
}

.project-card__date {
  margin: 0.7rem 0 1rem 0;
  font-size: 1rem;
  line-height: 0.6;
  color: #a6a6a6;
}

.project-card__description {
  margin: 0;
  font-size: 1rem;
  color: black;
}

.project-card__tags-grid {
  flex-wrap: wrap;
  gap: 0.5rem;
  display: flex;
  margin-top: auto;
  padding-top: 1rem;
}
