.dropdown {
  margin: 2rem 2rem 0 2rem;
  font-size: 1rem;
}

.dropdown__select-container {
  position: relative;
}

.dropdown__select {
  appearance: none;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

.dropdown__select-container::after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%) scaleY(0.6);
  pointer-events: none;
}
